@if (ShowModal)
{
    <!-- Modal -->
    <div class="modal-backdrop show"></div>
    <div class="modal modal-open animated" id="exampleModalCenter" tabindex="-1" role="dialog"
         aria-labelledby="exampleModalCenterTitle" aria-hidden="true" style="display:block;">
        <div class="modal-dialog modal-sm modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header @BgColor">
                    <h5 class="modal-title font-bold @TitleTextColor" id="exampleModalLongTitle">@Title</h5>
                    <button @onclick="OnCancel" type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    @ChildContent
                </div>
                <div class="modal-footer">
                    <button @onclick="OnCancel" type="button" class="btn btn-default">Close</button>
                    <button @onclick="OnConfirm" type="submit" class="btn btn-info">Confirm</button>
                </div>

            </div>
        </div>
    </div>

}
@code {
    [Parameter] public string Title { get; set; }
    [Parameter] public string TitleTextColor { get; set; }
    [Parameter] public RenderFragment ChildContent { get; set; }
    [Parameter] public string BgColor { get; set; }
    [Parameter] public EventCallback OnConfirm { get; set; }
    [Parameter] public EventCallback OnCancel { get; set; }
    private bool ShowModal { get; set; }

    public void Show()
    {
        ShowModal = true;
    }

    public void Hide()
    {
        ShowModal = false;
    }
}